@import 'variables.scss';

/*-------- Date Range ----------*/
.dateRange {
 display: inline;

 .col {
  display: inline-block;
  margin-right: 10px;
 }
}

/*------- Flat Pickr overrides -----*/
.flatpickr {
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}

.flatpickr .input-button {
  position: absolute;
  top: 3px;
  right: 5px;
  bottom: 0;
}

.flatpickr-calendar {
  z-index: 99999999 !important;
}
/* non-static experiment
.flatpickr-calendar.open {
  position: relative;
  top: 0 !important;
  left: 0 !important;
}
*/

/*------ Flat Pickr design changes -------*/
.flatpickr-current-month input.cur-year {
  font-size: 20px !important;
}

.flatpickr-current-month span.cur-month {
  font-weight: 500 !important;
  cursor: text;
}

.flatpickr-current-month span.cur-month:hover {
  background: transparent;
}

span.flatpickr-weekday {
  font-weight: normal !important;
}

.flatpickr-day.selected,.flatpickr-day.selected:hover {
  background: $primary !important;
  border-color: $primary !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
    fill: $primary !important;
}
